version: "2.1"
services:
  authelia:
    container_name: authelia
    restart: unless-stopped
    image: authelia/authelia:4.39.1
    networks:
      - external
      - data
    depends_on:
      - redis
    environment:
      TZ: ${TIMEZONE}
    volumes:
       - ${APPDATA}/authelia:/config
    labels:
      auth: false
      port: 9091
      host: auth.${SERVER_DOMAIN}
      traefik.http.middlewares.authelia.forwardauth.address: http://authelia:9091/api/verify?rd=https://auth.${SERVER_DOMAIN}
      traefik.http.middlewares.authelia.forwardauth.trustforwardheader: true
      traefik.http.middlewares.authelia.forwardauth.authresponseheaders: Remote-User, Remote-Groups
