---
version: '3.2'

services:
  authentik:
    container_name: authentik
    image: ghcr.io/goauthentik/server:2026.2.0
    command: server
    networks:
      - external
      - data
    depends_on:
      - postgres
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__DB: 14
      TZ: ${TIMEZONE}
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${DB_PASS_AUTHENTIK}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      # AUTHENTIK_ERROR_REPORTING__ENABLED: "true"
      # WORKERS: 2
    volumes:
      - ${APPDATA}/authentik/media:/media
      - ${APPDATA}/authentik/custom-templates:/templates
      - ${APPDATA}/authentik/geoip:/geoip
    labels:
      app: authentik
      auth: false
      ingress:
        - port: 9443
          host: idp.${SERVER_DOMAIN}
          protocol: https

  authentik-worker:
    container_name: authentik-worker
    image: ghcr.io/goauthentik/server:2025.2.2
    networks:
      - data
      - external
    command: worker
    environment:
          host: authentik.${SERVER_DOMAIN}
          protocol: https
    # ports:
    #   - "0.0.0.0:${AUTHENTIK_PORT_HTTP:-9000}:9000"
    #   - "0.0.0.0:${AUTHENTIK_PORT_HTTPS:-9443}:9443"

  authentik-worker:
    container_name: authentik-worker
    image: ghcr.io/goauthentik/server:2026.2.0
    networks:
      - data
    command: worker
    environment:
      TZ: ${TIMEZONE}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__DB: 14
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${DB_PASS_AUTHENTIK}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      # AUTHENTIK_ERROR_REPORTING__ENABLED: "true"
    # This is optional, and can be removed. If you remove this, the following will happen
    # - The permissions for the /backups and /media folders aren't fixed, so make sure they are 1000:1000
    # - The docker socket can't be accessed anymore
    user: root
    volumes:
      - ${APPDATA}/authentik/media:/media
      - ${APPDATA}/authentik/certs:/certs
      - ${APPDATA}/authentik/custom-templates:/templates
      - ${APPDATA}/authentik/geoip:/geoip
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      app: authentik

  geoipupdate:
    image: maxmindinc/geoipupdate:latest
    volumes:
      - ${APPDATA}/authentik/geoip:/usr/share/GeoIP
    environment:
      GEOIPUPDATE_EDITION_IDS: "GeoLite2-City"
      GEOIPUPDATE_FREQUENCY: "8"
