version: '3'
services:
  nginx:
    container_name: nginx
    image: ghcr.io/linuxserver/nginx:1.28.0
    network_mode: service:torguard
    # networks:
    #   - vlan20
    depends_on:
      - torguard
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TIMEZONE}
      DOCKER_MODS: linuxserver/mods:universal-cron
    volumes:
      - ${APPDATA}/nginx:/config
      - ${NAS}/docker/nginx/www:/config/www
      - ${NAS}/docker/nginx/custom-init:/custom-cont-init.d
      - ${APPDATA}/plutotv:/config/www/plutotv
      - ${NAS}:${NAS}
      - ${ZFS}:${ZFS}
    labels:
      auth: false
      ingress:
        # - rule: Host(`static.${SERVER_DOMAIN}`) && Path(`/nginx`)
        - port: 80
          host: static.${SERVER_DOMAIN}

  test:
    container_name: test
    image: ghcr.io/linuxserver/nginx:1.28.0
    networks:
      - vlan10
