version: '3'
services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:1.35.2
    networks:
      - external
    user: ${PUID}:${PGID}
    environment:
      TZ: ${TIMEZONE}
      ADMIN_TOKEN: ${BW_ADMIN_TOKEN}
      # SIGNUPS_ALLOWED: "true"
      DOMAIN: https://bw.${SERVER_DOMAIN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_FROM: ${SMTP_USER}
      SMTP_PORT: 587
      SMTP_SECURITY: starttls
      SMTP_USERNAME: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    volumes:
      - ${APPDATA}/vaultwarden:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      port: 80
      host: bw.${SERVER_DOMAIN}

  vaultwarden-backup:
    container_name: vaultwarden-backup
    image: bruceforce/vaultwarden-backup
    restart: on-failure
    init: true
    # command: manual
    depends_on:
      - vaultwarden
    environment:
      UID: ${PUID}
      GID: ${PGID}
      DELETE_AFTER: 30
      BACKUP_DIR: /data/backups
      TIMESTAMP: "true"
      # ENCRYPTION_PASSWORD: ${BW_BACKUP_PASSWORD}
      # LOG_LEVEL: trace
    volumes:
      - ${APPDATA}/vaultwarden:/data
