version: '2'
services:
  ha-chevalier:
    container_name: ha-chevalier
    image: ghcr.io/home-assistant/home-assistant:2026.2.3
    network_mode: host
    volumes:
      - /appdata/ha-chevalier:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
    restart: unless-stopped
    labels:
      context: weepinbell
      namespace: home
      port: 8123
      host: ha.${SERVER_DOMAIN}
    #   service: http://192.168.1.151:8123
#       nginx_directives: proxy_hide_header X-Frame-Options;

  music-assistant:
    container_name: music-assistant
    image: ghcr.io/music-assistant/server
    network_mode: host
    # privileged: true
    volumes:
      - ${APPDATA}/music-assistant:/data
      - ${NAS}/music/beets/Music:/music:ro
    # labels:
    #   ingress:
    #     - port: 8095
    #       host: ma.${SERVER_DOMAIN}
    # privileged: true
    # networks:
    #     host: {}

  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${APPDATA}/homebridge:/homebridge
    labels:
      ingress:
        - port: 8581
          host: hb.${SERVER_DOMAIN}

  # ha-code-server:
  #   container_name: ha-code-server
  #   image: ghcr.io/linuxserver/code-server
  #   environment:
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - TZ=${TIMEZONE}
  # #      - PASSWORD=password #optional
  # #      - HASHED_PASSWORD= #optional
  # #      - SUDO_PASSWORD=password #optional
  # #      - SUDO_PASSWORD_HASH= #optional
  #     - PROXY_DOMAIN=ha-code.${SERVER_DOMAIN} #optional
  #   volumes:
  #     - ${NAS}/docker/home-assistant/code-server:/config
  #     - ${NAS}/docker/home-assistant:/config/workspace
  #   labels:
  #     port: 8443
  #     host: ha-code.${SERVER_DOMAIN}
  #     auth: true

  whisper:
    container_name: whisper
    image: rhasspy/wyoming-whisper
    command: --model tiny-int8 --language en
    networks:
      - external
    volumes:
      - ${APPDATA}/whisper:/data
    ports:
      - 10300:10300
    tty: true
    stdin_open: true

  piper:
    container_name: piper
    image: rhasspy/wyoming-piper
    command: --voice en_US-lessac-medium
    networks:
      - external
    volumes:
      - ${APPDATA}/piper:/data
    ports:
      - 10200:10200
