version: '3'
services:
  zwavejs:
    container_name: zwavejs
    image: zwavejs/zwavejs2mqtt:11.12.0@sha256:8eb6640b41784d8b5812a67c341f5ca063db847b6db693013d270472442684f2
    stop_signal: SIGINT
    devices:
      - /dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00:/dev/ttyUSB0
#      - /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0:/dev/ttyUSB0
    volumes:
      - /appdata/zwavejs:/usr/src/app/store
    ports:
      - 3011:3000
    labels:
      context: weepinbell
      namespace: home
      port: 8091
      host: zwave.${SERVER_DOMAIN}
