version: '3'
services:
  diskover:
    container_name: diskover
    image: alexphillips/dskvr
    #image: alexphillips/diskover
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TIMEZONE}
      ES_HOST: localhost
      ES_PORT: 9200
    volumes:
      - ${APPDATA}/diskover-v2:/config
      - /mnt/storage:${NAS}:ro
      - /:/host-root
      - ${APPDATA}/diskover-v2/license:/app/www/src/diskover/diskover-web.lic
      - ${APPDATA}/diskover-v2/license:/app/diskover/diskover.lic
      - /mnt/tmp:/data:ro
    labels:
      app: diskover
      port: 80
      host: dskvr.${SERVER_DOMAIN}

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    network_mode: service:diskover
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      # local ES data directory
      - ${NAS}/docker/diskover-v2/esdata:/usr/share/elasticsearch/data
        #    ports:
        #      - 9200:9200
        #      - 9300:9300
    # depends_on:
    #   - elasticsearch-helper
    restart: unless-stopped
    labels:
      app: diskover

  # elasticsearch-helper:
  #   image: alpine
  #   command: sh -c "sysctl -w vm.max_map_count=262144"
  #   privileged: true
  #   labels:
  #     app: diskover

#  kibana:
#    image: docker.elastic.co/kibana/kibana:7.10.2
#    container_name: kibana
#    ports:
#      - 5601:5601
#    depends_on:
#      - elasticsearch
#    environment:
#      ELASTICSEARCH_URL: http://elasticsearch:9200
#      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
#    restart: unless-stopped
