version: '2'
services:
  healthchecks:
    container_name: healthchecks
    image: ghcr.io/linuxserver/healthchecks:4.0.20260216
    networks:
      - external # for notifications
      - monitoring
    volumes:
      - ${APPDATA}/healthchecks:/config
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=UTC
      - SITE_ROOT=https://hc.${SERVER_DOMAIN}
      - SITE_NAME=${SERVER_DOMAIN}
      - REGENERATE_SETTINGS="False"
    labels:
      namespace: monitoring
      port: 8000
      host: hc.${SERVER_DOMAIN}
