version: "3.1"
services:
  mealie:
    container_name: mealie
    image: hkotel/mealie:latest
    networks:
      - external
    environment:
      TZ: ${TIMEZONE}
      DB_ENGINE: sqlite
      # =====================================
      # Web Concurrency
      WEB_GUNICORN: "false"
      WORKERS_PER_CORE: 0.5
      MAX_WORKERS: 1
      WEB_CONCURRENCY: 1
      PUID: ${PUID}
      PGID: ${PGID}
      BASE_URL: recipes.${SERVER_DOMAIN}
    volumes:
      - ${APPDATA}/mealie:/app/data
    labels:
      port: 9000
      host: recipes.${SERVER_DOMAIN}

  mealie-old:
    container_name: mealie-old
    image: hkotel/mealie:v3.11.0
    networks:
      - external
    environment:
      TZ: America/New_York
    volumes:
      - ${APPDATA}/mealie.bak:/app/data
    labels:
      port: 9000
      host: mealie.${SERVER_DOMAIN}

  mealie-hellofresh:
    container_name: mealie-hellofresh
    image: hkotel/mealie:v3.11.0
    environment:
      TZ: America/New_York
    volumes:
      - ${NAS}/docker/mealie-hellofresh:/app/data
    labels:
      port: 80
      host: hellofresh.${SERVER_DOMAIN}
