version: '2'
services:
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/linuxserver/jellyfin
    network_mode: host
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TIMEZONE}
    volumes:
      - /appdata/jellyfin:/config
      - /mnt/storage/media:/media:ro
      - /mnt/storage/music/beets/Music:/music:ro
      - /mnt/storage/docker/zap2xml/xmltv.xml:/xmltv.xml:ro
      - /mnt/dispatcharr:/dispatcharr:ro
    labels:
      context: 192.168.1.149
      namespace: media
      ingress:
        - port: 8097
          rule: Host(`jf.w00t.cloud`) || Host(`jf.wootables.duckdns.org`)
