version: "2.1"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    networks:
      - external
      - torguard
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${APPDATA}/prowlarr:/config
    labels:
      namespace: media
      ingress:
        - port: 9696
          host: plr.${SERVER_DOMAIN}

  prowlarr-public:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr-public
    network_mode: service:torguard
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${APPDATA}/prowlarr-public:/config
    labels:
      auth: false
      namespace: media
      ingress:
        - port: 9696
          host: plrp.${SERVER_DOMAIN}
