version: '3'
services:
  romm:
    container_name: romm
    image: rommapp/romm:4.6.1
    networks:
      - data
      - external
    environment:
      - ROMM_DB_DRIVER=mariadb # This variable can be set as: mariadb | sqlite. If it is not defined, sqlite will be the database by default
      - DB_HOST=mariadb # Only needed if ROMM_DB_DRIVER=mariadb
      - DB_PORT=3306 # Only needed if ROMM_DB_DRIVER=mariadb
      - DB_USER=romm # Only needed if ROMM_DB_DRIVER=mariadb
      - DB_NAME=romm # Only needed if ROMM_DB_DRIVER=mariadb. Can be optionally changed, and should match the MYSQL_DATABASE value in the mariadb container.
      - DB_PASSWD=${DB_PASS_ROMM} # Only needed if ROMM_DB_DRIVER=mariadb
      - IGDB_CLIENT_ID=${TWITCH_CLIENT_ID}
      - IGDB_CLIENT_SECRET=${TWITCH_CLIENT_SECRET}
      - STEAMGRIDDB_API_KEY=<SteamGridDB api key>
      - ROMM_AUTH_USERNAME=${ROMM_AUTH_USERNAME}
      - ROMM_AUTH_PASSWORD=${ROMM_AUTH_PASSWORD}
      - ROMM_AUTH_SECRET_KEY=${ROMM_AUTH_SECRET_KEY}
      - SCREENSCRAPER_USER=${SCREENSCRAPER_USER}z6ByYELyi24tRY893KmmZaq
      - SCREENSCRAPER_PASSWORD=${SCREENSCRAPER_PASSWORD}CrCmfrNAntaCGBa8E9rPP93
      - KIOSK_MODE=true
      - RETROACHIEVEMENTS_API_KEY=ConSaJxpokVzvagDJ4O7p7qOGOordoU0
      - STEAMGRIDDB_API_KEY=79488fe091cff6fefc6e391f29089d3f
      - HASHEOUS_API_ENABLED=true
      - HLTB_API_ENABLED=true
      - TGDB_API_ENABLED=true
      - PLAYMATCH_API_ENABLED=true
    volumes:
      - ${NAS}/media/games/platforms:/romm/library/roms
      - ${NAS}/media/games/bios:/romm/library/bios
      - ${APPDATA}/romm/resources:/romm/resources
      - ${APPDATA}/romm/redis:/redis-data
      - ${APPDATA}/romm/config:/romm/config
      - ${APPDATA}/romm/assets:/romm/assets
      - ${NAS}:${NAS}:ro
    labels:
      auth: false
      ingress:
        - port: 8080
          host: romm.${SERVER_DOMAIN}
