version: '3'
services:
  wikijs:
    container_name: wikijs
    image: ghcr.io/linuxserver/wikijs:2.5.312
    networks:
      - data
      - external
    depends_on:
      - postgres
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TIMEZONE}
    volumes:
      - ${APPDATA}/wikijs/config:/config
      - ${APPDATA}/wikijs/data:/data
    labels:
      port: 3000
      host: wikijs.${SERVER_DOMAIN}
      custom_response_headers:
        X-Frame-Options: ""
